* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2E2A24;
    overflow-x: hidden;
}
/*#474138 color estoscuro*/
/*#474138 color estmedioclaro*/
/*#877B6A color estclaro*/
.contarriba{
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

}
.contabajo{
    position: absolute;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    bottom: 0;
}
.triO {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #474138;
}
.triOA{
    position: absolute; 
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #474138;
}
div#n1.triOA{
    border-left: 61px solid transparent;
    border-right: 74px solid transparent;
    left: 36%;
    top: -25%;
    border-top: 126px solid #474138;
}
div#n2.triOA{
    border-left: 50px solid transparent;
    border-right: 57px solid transparent;
    left: 52%;
    top: -7%;
    border-top: 123px solid #474138;
}
div#n.triOA{
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}
div#n3.triOA{
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}
.triLA{
    position: absolute; 
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #474138;
}
div#n1.triLA{
    border-left: 118px solid transparent;
    border-right: 83px solid transparent;
    top: 0%;
    left: 23%;
    border-top: 130px solid #474138;
}
div#n2.triLA{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    top: -14%;
    left: 18%;
    border-top: 131px solid #474138;
}
div#n3.triLA{
    border-left: 125px solid transparent;
    border-right: 80px solid transparent;
    top: 0%;
    right: 24%;
    border-top: 121px solid #474138;
}
div#n4.triLA{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    top: -28%;
    right: 19%;
    border-top: 154px solid #474138;
}
.triCA{
    transform: translateX(-50%);
    position: absolute; 
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #877B6A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -300%);
    font-size: 24px;
    color: #EDE5D6; 
}

div#n1.triCA{
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    top: -10%;
    left: 15%;
    border-top: 160px solid #877B6A;
}
div#n2.triCA{
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    top: 0%;
    left: 4%;
    border-top: 160px solid #877B6A;
    
}
div#n3.triCA{
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    top: -1%;
    right: -2%;
    border-top: 137px solid #877B6A;
}
div#n4.triCA{
    border-left: 75px solid transparent;
    border-right: 31px solid transparent;
    top: 0%;
    right: -5%;
    border-top: 182px solid #877B6A;
}
.triOAb{
    position: absolute; 
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #474138;
}
div#n1.triOAb{
    border-left: 61px solid transparent;
    border-right: 74px solid transparent;
    left: 36%;
    border-bottom: 126px solid #474138;
}
div#n2.triOAb{
    border-left: 50px solid transparent;
    border-right: 57px solid transparent;
    left: 52%;
    border-bottom: 123px solid #474138;
}
div#n.triOAb{
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}
div#n3.triOAb{
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}
.triLAb{
    position: absolute; 
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #474138; 
}
div#n1.triLAb{
    border-left: 118px solid transparent;
    border-right: 83px solid transparent;
    bottom: 0%;
    left: 23%;
    border-bottom: 130px solid #474138;
}
div#n2.triLAb{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    left: 18%;
    border-bottom: 131px solid #474138;
}
div#n3.triLAb{
    border-left: 125px solid transparent;
    border-right: 80px solid transparent;
    bottom: 0%;
    right: 24%;
    border-bottom: 121px solid #474138;
}
div#n4.triLAb{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    right: 19%;
    border-bottom: 154px solid #474138;
}
.triCAb{
    transform: translateX(-50%);
    position: absolute; 
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #877B6A; 
}
div#n1.triCAb{
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    left: 15%;
    border-bottom: 160px solid #877B6A;
}
div#n2.triCAb{
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
    bottom: 0%;
    left: 4%;
    border-bottom: 160px solid #877B6A;
}
div#n3.triCAb{
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    right: -2%;
    border-bottom: 137px solid #877B6A;
}
div#n4.triCAb{
    border-left: 75px solid transparent;
    border-right: 31px solid transparent;
    bottom: 0%;
    right: -5%;
    border-bottom: 182px solid #877B6A;
}
/*#2E2A24 color gris de fondo */
/*#EDE5D6 color blanco*/
/*#607D56 color verde verde*/
/*#A47D44 color dorado*/
/*#3A5069 color azul*/
/*#6B4E71 color morado*/
.tyl{
    color: #EDE5D6;
    display: inline-block;
    margin: 0 auto;   
    width: 280px;
    
}
#titulo{
    padding-bottom: 10%;
}
.Login{
    width: 250px;
    color: #EDE5D6;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 3%;
    border-color: #EDE5D6;
    border-width: 1px;
    border-style: solid;
    padding: 2% 5% 5% 5%;
}

.contyl {
    text-align: center;
    width: 100%;
    margin-top: -80px;
}
@media (max-width: 768px) { 
    .contyl {
        margin-top: -135px;
    }
}
.inputbox {
    position: relative;
    margin: 30px 0;
    width: 240px;
    border-bottom: 2px solid #EDE5D6;
    color: #EDE5D6;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #EDE5D6;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #EDE5D6;
}
button{
    width: 100%;
    color: #EDE5D6;
    padding: 8px 16px;
    border: 1px solid #607D56; 
    border-radius: 10px;  
    cursor: pointer;
    margin-bottom: 15px;
    background-color: #607D56;
}
a{
    color: #EDE5D6;
    
}
.register a {
    position: relative;
    z-index: 10;

}
@media (max-width: 768px) {
    div#n1.triOA{
        border-left: 61px solid transparent;
        border-right: 74px solid transparent;
        left: 36%;
        top: -25%;
        border-top: 108px solid #474138;
    }
    div#n2.triOA{
        border-left: 50px solid transparent;
        border-right: 57px solid transparent;
        left: 52%;
        top: -7%;
        border-top: 75px solid #474138;
    }
 
    div#n3.triOA{
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        display: none;
    }
    .triLA{
        position: absolute; 
        z-index: 2;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid #474138;
    }
    div#n1.triLA{
        border-left: 118px solid transparent;
        border-right: 83px solid transparent;
        top: 0%;
        left: 23%;
        border-top: 74px solid #474138;
    }
    div#n2.triLA{
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        top: -14%;
        left: 18%;
        border-top: 95px solid #474138;
    }
    div#n3.triLA{
        border-left: 125px solid transparent;
        border-right: 80px solid transparent;
        top: 0%;
        right: 24%;
        border-top: 60px solid #474138;
    }
    div#n4.triLA{
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        top: -28%;
        right: 19%;
        border-top: 119px solid #474138;
    } 
    div#n1.triCA{
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
        top: -10%;
        left: 15%;
        border-top: 95px solid #877B6A;
    }
    div#n2.triCA{
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
        top: 0%;
        left: 4%;
        border-top: 120px solid #877B6A;
        
    }
    div#n3.triCA{
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        top: -1%;
        right: -2%;
        border-top: 50px solid #877B6A;
    }
    div#n4.triCA{
        border-left: 75px solid transparent;
        border-right: 31px solid transparent;
        top: 0%;
        right: -6%;
        border-top: 65px solid #877B6A;
    }
    .triOAb{
        position: absolute; 
        z-index: 1;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #474138;
    }
    div#n1.triOAb{
        border-left: 61px solid transparent;
        border-right: 74px solid transparent;
        left: 36%;
        border-bottom: 73px solid #474138;
    }
    div#n2.triOAb{
        border-left: 50px solid transparent;
        border-right: 57px solid transparent;
        left: 52%;
        border-bottom: 80px solid #474138;
    }
    div#n.triOAb{
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        border-bottom: 80px solid #474138;
    }
    div#n3.triOAb{
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        display: none
    }
    .triLAb{
        position: absolute; 
        z-index: 2;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #474138; 
    }
    div#n1.triLAb{
        border-left: 118px solid transparent;
        border-right: 83px solid transparent;
        bottom: 0%;
        left: 23%;
        border-bottom: 81px solid #474138;
    }
    div#n2.triLAb{
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        left: 18%;
        border-bottom: 77px solid #474138;
    }
    div#n3.triLAb{
        border-left: 125px solid transparent;
        border-right: 80px solid transparent;
        bottom: 0%;
        right: 24%;
        border-bottom: 73px solid #474138;
    }
    div#n4.triLAb{
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        right: 19%;
        border-bottom: 75px solid #474138;
    }
    .triCAb{
        transform: translateX(-50%);
        position: absolute; 
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #877B6A;
    }
    div#n1.triCAb{
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
        left: 15%;
        border-bottom: 70px solid #877B6A;
    }
    div#n2.triCAb{
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
        bottom: 0%;
        left: 4%;
        border-bottom: 70px solid #877B6A;
    }
    div#n3.triCAb{
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        right: -2%;
        border-bottom: 54px solid #877B6A;
    }
    div#n4.triCAb{
        border-left: 75px solid transparent;
        border-right: 31px solid transparent;
        bottom: 0%;
        right: -6%;
        border-bottom: 72px solid #877B6A;
    }
}
@media (max-width: 425px) {
    div#n4.triCAb{
        border-left: 75px solid transparent;
        border-right: 31px solid transparent;
        bottom: 0%;
        right: -12%;
        border-bottom: 72px solid #877B6A;
    }
    div#n4.triCA{
        border-left: 75px solid transparent;
        border-right: 31px solid transparent;
        top: 0%;
        right: -12%;
        border-top: 65px solid #877B6A;
    }

}