* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2E2A24;
}
/*#2E2A24 color gris de fondo */
/*#EDE5D6 color blanco*/
/*#607D56 color verde verde*/
/*#A47D44 color dorado*/
/*#3A5069 color azul*/
/*#6B4E71 color morado*/
.encabezado {
    background-color: #EDE5D6;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 375px) { 
    .encabezado {
        padding-right: 10px;
        padding-left: 10px;
    }
}
.btnheader{
    display: flex;
    justify-content: space-between;
}
.btnheader button {
    padding: 8px 16px;
    border: 1px solid #A47D44; 
    border-radius: 10px;  
    cursor: pointer;
}
@media (max-width: 425px) { 
    .btnheader button {
        padding: 8px 8px;
    }
}
.homepage{
    text-decoration: none; 
    color:#A47D44;
    font-size: 30px;
    
}
.Carrito{
    width: 60px;
    height: 50px;
    margin-bottom: -17px;
    text-decoration: none;
}
.Iniciar{
    background-color: #EDE5D6;
        color: #A47D44;
}
.Registrar{
    background-color: #A47D44;
    color: #EDE5D6
}
.tyb{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding-top: 10%
}
.titulo{
    color: #EDE5D6;
    font-size: 30px;
}
@media (max-width: 425px) { 
    .titulo {
        font-size: 20px;
    }
}
@media (max-width: 425px) { 
    div.titulo #subtituloCA {
        font-size: 20px;
    }
}
.btnCatalogo{
    padding-top: 1%;
}
.VCatalago {
    padding: 10px 25px;
    border-radius: 10px;  
    border: 0cap;
    cursor: pointer;
    background-color: #607D56;
    color:#EDE5D6
}
#ContenedorEstan{
    margin-top: 5%;
    margin-bottom: 5%;
    Width: 100%;
}
#imgEstanteria{
    width: 100%;
}
.tyc{
    color: #EDE5D6;
    padding-left: 5%;
}
@media (max-width: 425px) { 
    .tyc {
        font-size: 13px;
    }
}
.historia{
    padding-top: 20px;
    line-height: 1.6;
}
.lore{
    color: #EDE5D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 20px;
  }
  @media (max-width: 425px) { 
    .image-container     {
        flex-direction: column;
    }
}
  .image-box {
    text-align: center;
  }
  
  .image-box img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: transparent;
  }
  
  .image-box p {
    margin-top: 10px;
    font-size: 16px;
    color: #EDE5D6;
    text-align: justify;
    line-height: 1.6; 
  }